<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>添加题目</title>

<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/simditor/styles/simditor.css" />

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-2">1 of 3</div>
			<div class="col-sm-8">
				<form action="/subject/save" method="post">
					<div class="form-group">
						<label for="title">标题</label> <input
							type="text" class="form-control" id="title" name="title" 
							aria-describedby="titleHelp" placeholder="输入标题"> <small
							id="titleHelp" class="form-text text-muted">标题是一条记录的关键</small>
					</div>
					<div class="form-group">
						<label for="content">内容</label> <input
							type="text" class="form-control" id="content" name="content"
							placeholder="输入内容">
					</div>
					<div class="form-group">
						<label for="content">sim</label> 
						<textarea id="answer" name="answer" placeholder="Balabala" autofocus></textarea>
					</div>
					<button type="submit" class="btn btn-primary">保存</button>
				</form>
			</div>
			<div class="col-sm-2">3 of 3</div>
		</div>
	</div>



	<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/simple-module/lib/module.js"></script>
	<script type="text/javascript" src="/simple-hotkeys/lib/hotkeys.js"></script>
	<script type="text/javascript" src="/simple-uploader/lib/uploader.js"></script>
	<script type="text/javascript" src="/simditor/lib/simditor.js"></script>

	<script th:inline="javascript">
	   var editor;
		$(document).ready(function(){

         editor = new Simditor({
            textarea: $('#answer'),
            //optional options
            toolbar:  ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment']
            ,upload : {
                url : "/blog/upload", //文件上传的接口地址
               // params: {"packageId":"12321"}, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'file', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });

    });
	</script>
</body>
</html>