<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>添加题目</title>

<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/simditor/styles/simditor.css" />

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<form action="/subject/save" method="post">
					<div class="form-group">
						<label for="title">标题</label> <input
							type="text" class="form-control" id="title" name="title" 
							aria-describedby="titleHelp" placeholder="输入标题"> <small
							id="titleHelp" class="form-text text-muted">标题是一条记录的关键</small>
					</div>
					<div class="form-group">
						<label for="content">内容</label> <textarea id="content" name="content" placeholder="请输入内容" autofocus></textarea>
					</div>
					<div class="form-group">
						<label for="analysis">分析</label> <textarea id="analysis" name="analysis" placeholder="请输入分析" autofocus></textarea>
					</div>
					<div class="form-group">
						<label for="answer">答案</label> <textarea id="answer" name="answer" placeholder="请输入答案" autofocus></textarea>
					</div>
					<div class="form-group">
						<label for="remarks">备注</label> <textarea id="remarks" name="remarks" placeholder="请输入备注" autofocus></textarea>
					</div>
					<button type="submit" class="btn btn-primary">保存</button>
				</form>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>



	<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/simple-module/lib/module.js"></script>
	<script type="text/javascript" src="/simple-hotkeys/lib/hotkeys.js"></script>
	<script type="text/javascript" src="/simple-uploader/lib/uploader.js"></script>
	<script type="text/javascript" src="/simditor/lib/simditor.js"></script>

	<script th:inline="javascript">
	   var editor;
       var editor1;
       var editor2;
       var editor3;
		$(document).ready(function(){

			 editor = new Simditor({
				textarea: $('#content'),
				toolbar:  ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment']
			 });
             editor1 = new Simditor({
                textarea: $('#analysis'),
                toolbar:  ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment']
             });
             editor2 = new Simditor({
                textarea: $('#answer'),
                toolbar:  ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment']
             });
             editor3 = new Simditor({
                textarea: $('#remarks'),
                toolbar:  ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment']
             });

    });
	</script>
</body>
</html>