<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>首页</title>

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<a target="_blank" href="/subject/toAdd">添加题目</a>
				<hr>
				<a target="_blank" href="/classify/toAdd">添加分类</a>
				<hr>
				<a target="_blank" href="/classify/toClassifyList">分类列表</a>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>



	<script src="jquery/dist/jquery.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>